<article class="container mt-5 p-3 bg-white rounded">
    <h2>
      Introduction
    </h2>
  
    <div class="media"> 
      <div class="media-body">
        <p>
          Hello! My name is Jakob Rolandsson and currently working as a software 
          consultant at 
          <a href="http://zocom.se">
            Zocom
          </a> 
          as well as studying at 
          the unviversity of Uppsala 
          <a href="http://www.polacksbacken.uu.se/Valkommen_till_Polacksbacken/angstromlaboratoriet">
            Ångströmslaboratoriet
          </a>. 
        </p>
        <p>
          This website is brought to you as a portfolio for my finished and currently in-progress programming projects. 
          Everything posted will be blog-ish, hence there'll be pictures rather than actual code, however, 
          if I'm working on some open source project then you will find the source code at 
          <a href="github.com/kavzor">
            my github page
          </a>, 
          direct links in respective project.
        </p>
      </div>
      <figure class="ml-3">
        <img class="figure-img" [width]="profile.image.width" [src]="profile.image.url">
        <figcaption class="figure-caption text-right">Jakob Rolandsson</figcaption>
      </figure>
    </div>
  </article>