<article>
  <header class="container mt-3">
    <h2>
      Latest update
    </h2>
  </header>

  <div class="container mt-2 p-3">
    <section class="card">
      <header class="card-header media">
        <div class="media-body">
          <h3>
            {{ latest.name }}
          </h3>
        </div>
        <figure class="status-icon">
          <img alt="open source" src="assets/images/icon/open.svg" width="128">
        </figure>
        <figure class="status-icon">
          <img alt="work in progress" src="assets/images/icon/progress.svg" width="128">
        </figure>
        <figure class="status-icon">
          <img alt="MIT Lisenced" src="assets/images/icon/mit.svg" width="128">
        </figure>
      </header>
      <div class="col-lg-10 card-body media">
        <div class="media-body">
          <p class="card-text">
              {{ latest.description }}
          </p>
        </div>
        <figure class="ml-5" >
          <img class="figure-image" alt="MongoJ Repo" width="96" [src]="latest.icon">
          <figcaption class="figure-caption text-center">MongoJ</figcaption>
        </figure>
      </div>
      <footer class="card-footer media">
        <div class="media-body mt-3">
          <a [href]="latest.more">View source..</a>
        </div>
        <figure>
          <a href="https://github.com/kavzor" target="_blank">
            <img alt="github" src="assets/images/logo/external/Octocat.png" width="48" title="Go to my github">
          </a>
          <a href="https://www.linkedin.com/in/jakob-r-975737145/" target="_blank">
            <img alt="linkedin" src="assets/images/logo/external/Linkedin.png" width="128" title="Visit my linkedin page!">
          </a>
        </figure>
      </footer>
    </section>
  </div>
</article>

<article class="mt-3">
  <header class="container">
    <h2>
      All projects
    </h2>
  </header>

  <div class="container p-3">
    <section class="card mb-5" *ngFor="let entry of entries">
      <header class="card-header media">
        <h3 class="media-body">
          {{ entry.info.name }}
        </h3>
        <figure class="status-icon">
          <img class="mr-2" *ngIf="entry.image.status.progress" alt="work in progress" src="assets/images/icon/progress.svg" width="128">
          <img *ngIf="entry.image.status.open" alt="open source" src="assets/images/icon/open.svg" width="128">
          <img *ngIf="entry.image.status.MIT" alt="MIT Lisenced" src="assets/images/icon/mit.svg" width="128">
        </figure>
      </header>  
      <div class="card-body col-lg-10 media">
        <div class="media-body">
          {{ entry.info.description }}
        </div>
        <figure class="ml-5">
          <img [src]="entry.image.icon" [alt]="entry.info.name + ' icon'" width=96>
          <figcaption class="figure-caption text-center">
            {{ entry.info.name }}
          </figcaption>
        </figure>
      </div>
      <footer class="card-footer">
        <a [href]="entry.publish.more">View source..</a>
        <a href="projects" class="float-right">Back to top</a>
      </footer>
    </section>  
  </div>  
</article>  