/* You can add global styles to this file, and also import other style files */
body {
  background-color: #9c76ed;
  background-image: url("assets/images/main/background-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}